.noclick {
  pointer-events: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-toggle{
  color: gray;
  cursor: pointer;
  margin-left: 1rem;
  text-decoration: underline;
}
#list-container{
  display: none;
  position: absolute;
  top: 30px;
  background: #f9f9f9;
  min-width: 220px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  z-index: 10;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
#preference-list{
  margin-bottom: 10px;
}
/* Common dropdown styles */
.dropdown-content {
  /* display: none; */
  position: absolute;
  top: 30px;
  background: #f9f9f9;
  min-width: 220px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  z-index: 10;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
/* Items layout */
.border-bottom{
    border-bottom: 1px solid #a0a2ad; 
}
.list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 6px;
}

.list-items p {
  margin: 0;
}

.list-items .item-name{
  cursor: pointer;
}
.list-items:hover .item-name{
  text-decoration: underline;
}

button {
  cursor: pointer;
  padding: 3px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #eee;
}

/* Submenu */
.submenu {
  display: none;
}

.back-btn {
  display: inline-block;
  margin-bottom: 8px;
  background: #ddd;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* ============= */
/* COMPONENT: Toggle Preferences button */
/* ================= */
/* From Uiverse.io by Praashoo7 */ 
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 1.2em;
  height: 3.3em;
}

/* Hide default HTML checkbox */
.switch .chk {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 5px;
}

.slider:before {
  border: solid 1px black;
  position: absolute;
  content: "";
  height: .5em;
  width: 2.4em;
  border-radius: 5px;
  left: -0.6em;
  top: 0.2em;
  background-color: white;
  box-shadow: 0 6px 7px rgba(0,0,0,0.3);
  transition: .4s;
}

.slider:before, .slider:after {
  content: "";
  display: block;
}

.slider:after {

  background: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.15) 0) 0 50% / 50% 100%,
		repeating-linear-gradient(90deg,rgb(255, 255, 255) 0,rgb(255, 255, 255),rgb(255, 255, 255) 20%,rgb(255, 255, 255) 20%,rgb(255, 255, 255) 40%) 0 50% / 50% 100%,
		radial-gradient(circle at 50% 50%,rgb(255, 255, 255) 25%, transparent 26%);
  background-repeat: no-repeat;
  border: 0.25em solid transparent;
  border-left: 0.4em solid #ffffff;
  border-right: 0 solid transparent;
  transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  transform: translateX(-22.5%) rotate(90deg);
  transform-origin: 25% 50%;
  position: relative;
  top: 0.5em;
  left: 0.55em;
  width: 2em;
  height: 1em;
  box-sizing: border-box;
}

.chk:checked + .slider {
  background-color: limegreen;
}

.chk:focus + .slider {
  box-shadow: 0 0 1px limegreen;
}

.chk:checked + .slider:before {
  transform: translateY(2.3em);
}

.chk:checked + .slider:after {
  transform: rotateZ(90deg) rotateY(180deg) translateY(0.45em) translateX(-1.4em);
}

@media (max-width: 426px) {
  .slider {
   left: -4px /* small screens */
  }
}

.icon {
  filter: brightness(0) invert(1);
  width: 1.1rem;    /* adjust size here */
  height: 1.1rem;
  display: inline-block;
  pointer-events: none; /* so clicking hits the button, not the image */
}