{% extends "layout.html" %}
{% block body %}

<!-- Page Header-->
<header class="masthead"
    style="background-image: url('{{url_for('static', filename='assets/img/about-bg.jpg')}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Welcome to The TechScribe! I'm <b>Tanmaya Kumar Naik</b>, a
                        passionate tech enthusiast and writer dedicated to
                        exploring the latest innovations and trends in the world
                        of technology. With a background in <b>Computer Science
                            and Engineering</b>, I've always been fascinated by
                        how technology shapes our lives and transforms
                        industries.</p>

                    <p>My journey into the world of tech began with a simple
                        curiosity about how things work, which quickly evolved
                        into a deep passion for understanding and sharing the
                        latest advancements. From groundbreaking AI developments
                        and the rise of quantum computing to the transformative
                        power of AR and VR, I aim to bring you insightful,
                        well-researched content that delves into the future of
                        innovation.</p>

                    <p>At TheTechScribe, I strive to make complex technological
                        concepts accessible to everyone, whether you're a
                        seasoned tech professional or just beginning to explore
                        this ever-evolving field. My goal is to inspire, inform,
                        and engage you with articles that not only highlight the
                        latest trends but also explore their potential impact on
                        our world.</p>

                    <p>Join me as we embark on this journey through the
                        cutting-edge world of technology. Let's explore, learn,
                        and stay ahead of the curve together!</p>

                    <p>Feel free to connect with me on social media or
                        drop a message via email below. I'm always
                        excited to hear from fellow tech enthusiasts and curious
                        minds!</p>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}
